solution/AcmeBankingServices/src/main/app/transferservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
   xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
   xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
   xmlns:json="http://www.mulesoft.org/schema/mule/json" 
   xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
   xmlns:http="http://www.mulesoft.org/schema/mule/http" 
   xmlns="http://www.mulesoft.org/schema/mule/core"
   xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
   xmlns:spring="http://www.springframework.org/schema/beans" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

   <flow name="transferServiceFlow">
      <http:listener config-ref="HTTP_Listener_Configuration" path="/transferservice" allowedMethods="POST" doc:name="HTTP" />
      <set-variable variableName="STARTTIME" value="#[server.nanoTime()]" doc:name="Set STARTTIME"/>
      <object-to-string-transformer doc:name="Object to String (close stream)" />
      <custom-transformer class="com.mulesoft.training.transformers.StringToTransferListTransformer" doc:name="StringToTransferListTransformer" />
      <component class="com.mulesoft.training.components.TransferProcessingComponent" doc:name="Process transfer" />
      <component class="com.mulesoft.training.components.TransferAuditingComponent" doc:name="Audit transfer" />
      <set-payload value="#['Audited transfer: ' +message.payload.toString()]" doc:name="Set Payload to results" />
      <logger message="#['Processing took ' +(server.nanoTime() - flowVars.STARTTIME)/1000000 +' milliseconds to complete.']" level="INFO" doc:name="Log results" />
      <exception-strategy ref="CatchAllExceptionStrategy" doc:name="Reference Exception Strategy"/>
   </flow>

</mule>
